.navigationContainer {
    display: flex;
    background: #a7a5a5;
    padding: 10px 20px;
}

.navigationLink {
    color: #ffffff;
    font-size: 18px;

    &:hover {
        text-decoration: underline;
    }
}

.navigationLink:not(:first-child) {
    margin-left: 75px;
}