body {
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.card {
  box-shadow: 1px 1px 1px 1px #7c7a7a;
  border: 1px solid #e0dddd;
  border-radius: 4px;
}